# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
site.db
.env
.venv/
venv/

# VSCode
.vscode/

# Jupyter
*.ipynb_checkpoints/

# 系統檔案
.DS_Store
Thumbs.db

# 其他常見忽略
*.log
*.sqlite3
*.bak
*.swp
*.swo
